
body{
	background:#f1f9f9;
}

.form-signin {
    padding: 19px 29px 29px;
    background-color: #fff;
    max-width: 500px;
    margin: 100px auto;
}
.form-signin h2{
    color: #337ab7;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}